*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
/*NAVBAR*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #D5BD96;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.logo h1 {
    color: #00314B;
    font-size: 28px;
}
.navbar-links nav {
    display: flex;
    align-items: center;
    gap: 25px;
}
.navbar-links nav a, .dropbtn{
    text-decoration: none;
    color: #00314B;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
}
.navbar-links nav a:hover, .dropbtn:hover{
    color: #F5F1EB;
    background-color: #00314B;
    transition: 0.3s;
}
.navbar-links a:hover{
    background-color: #D5BD96;
    color: #00314B;
    transition: 0.3s;
}
.active{
    background-color: #D5BD96;
}
/*Hero Section*/

.hero{
    height: 90vh;
    background-image: url(Image/ICT3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F5F1EB;
    padding: 20px;
    position: relative;
}
.hero h2{
    font-size: 65px;
    max-width: 1100px;
    text-shadow: 2px 2px 10px black;
}
.hero p {
    font-size: 25px;
    margin-top: 30px; 
    max-width: 900px;
    text-shadow: 2px 2px 10px black;
}
.hero button{
    margin-top: 40px;
    padding: 18px 40px;
    border: none;
    border-radius: 15px;
    background-color: #00314B;
    color: #F5F1EB;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.hero button:hover{
    background-color: #D5BD96;
    color: #00314B;
    transform: scale(1.1);
    animation: shake 0.3s;
}
    @keyframes shake {
        0%{ transform: translateX(0) ;}
        25%{ transform: translateX(-5px) ;}
        50%{ transform: translateX(5px) ;}
        75%{ transform: translateX(-5px) ;}
        100%{ transform: translateX(0) ;}
        
    }
    .hero::before{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgba(0,0,0,0.5)
    }
    .hero h2, .hero p, .hero button{
        position: relative;
        z-index: 1;
    }

/*Sections*/
.section{
    padding: 80px;
}
.content p{
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
    background-color: #F5F1EB;
}
.content{
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #F5F1EB;
}
.reverse{
    flex-direction: row-reverse;
}

.text-content p{
    font-size: 20px;
}
.image-box{
    width: 500px;
    height: 300px;
    background-color: #F5F1EB;
    border-radius: 20px;
}
/*ICT Section*/
.ICT{
    background-color: #F5F1EB;
    text-align: center;
    color: #00314B;
    padding: 80px 20px;
}
.ICT h2{ 
    font-size: 45px;
    max-width: 900px;
    margin: 30px auto;
}
.ICT p{
    font-size: 25px;
}
/*Footer*/

.footer {
    display: flex;
    justify-content: space-around;
    background-color:#00314B;
    color: #F5F1EB;
    padding: 60px 20px;
    
}
.footer h3{
    margin-bottom: 15px;
    font-size: 40px;
}
.footer-box p{
    margin: 20px 0;
    font-size: 22px;
}
/*copyright*/
.copyright{
    background-color: #00314B;
    color: #F5F1EB;
    text-align: center;
    padding-bottom: 30px;
    font-size: 22px;
}
/*Centering wrapper*/
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} 
/*Card style*/
.card{
    background-color: #F5F1EB;
    width: 75%;
    max-width: 950px;
    padding: 60px 70px;
    border-radius: 28px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    }
/*Title*/
.card h1{ 
    font-size: 52px;
    color: #00314B;
    margin-bottom: 25px;
    font-weight: 700;
}
/*Paragraph*/
.card p{
    font-size: 18px;
    color: #00314B;
    line-height: 1.9;
    max-width: 800px;
    margin: 0 auto;
}
/*learn-section*/

.learn-section{
    text-align: center;
    padding: 40px 20px;
}
.learn-section h2{
    margin-bottom: 40px;
    font-size: 45px;
    color: #00314B;
}
.container-learn{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card-learn{
    width: 220px;
    text-align: center;
}
.card-learn:hover{
    transform: translateY(-10px);
}
.icon-learn{
    width: 70px;
    height: 70px;
    background-color: #00314B;
    color: #00314B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    font-size: 24px;
}
.card-learn h3{
    margin-bottom: 10px;
    font-size: 25px;
}
.card-learn p{
    color: #F5F1EB;
    font-size: 15px;
    color: #00314B;
}

/*Info-box*/
.info-box{
    width: 90%;
    margin: auto;
    background: #D5BD96;
    padding: 40px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.text-content h1{
    text-align: center;
    color: #00314B;
    font-size: 45px;
    margin-bottom: 10px;
}
.text-content hr{
    width: 60%;
    margin: auto;
    border: 1px solid #00314B;
    margin-bottom: 25px;
}
.text-content p{
    color: #00314B;
    font-size: 25px;
    line-height: 1.8;
    text-align: justify;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    text-decoration: none;
    color: #00314B;
    font-size: 20px;
    padding: 10px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background: #D5BD96;
    min-width: 320px;
    border-radius: 10px;
    z-index: 999;
    overflow: hidden;
}
.dropdown-content a{
    color: #D5BD96;
    padding: 15px 20px ;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.dropdown-content a:hover{
    background: #00314B;
    color: #F5F1EB;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.footer-box a{
    color: #F5F1EB;
    text-decoration: none;
    font-size: 22px;
}
.footer-box a:hover{
    text-decoration: underline;
}
#References {
    color: #F5F1EB;
    text-decoration: none;
    font-size: 22px;
}